<!DOCTYPE html>
<html lang="en">
  <head>
      {{partial "header.html" .}}
  </head>
  <body>
  <nav>
    <div>
        <img src="{{.Site.BaseURL}}/Assets/name.png" style="width:300px;height:24px;">
    </div>
    <div>
    <ul>
      <li {{if eq .Page.Params.params.id "portfolio"}}class="selected"{{end}}><a href="{{.Site.BaseURL}}"><strong>Portfolio</strong></a></li>
      <li {{if eq .Page.Params.params.id "skeches"}} class="selected" {{end}} ><a href="{{.Site.BaseURL}}/sketches"><strong>Sketches</strong></a></li>
      <li {{if eq .Page.Params.params.id "animations"}} class="selected" {{end}} ><a href="{{.Site.BaseURL}}/animations"><strong>Animations</strong></a></li>
      <li {{if eq .Page.Params.params.id "about"}} class="selected" {{end}} ><a href="{{.Site.BaseURL}}/about"><strong>About</strong></a></li>
    </ul>
    </div>
  </nav>
    <div class="content">
      {{ block "main" . }}{{ end }}
    </div>
  </body>
</html>
