<!DOCTYPE html>
<html lang="en">
  <head>
      {{partial "header.html" .}}
  </head>
  <nav>
    <ul>
      <li {{if eq .Page.Params.params.id "portfolio"}} class="selected" {{end}} ><a href="{{.Site.BaseURL}}/"><p><strong>Portfolio</strong></p></a></li>
      <li {{if eq .Page.Params.params.id "skeches"}} class="selected" {{end}} ><a href="{{.Site.BaseURL}}/sketches"><p><strong>Sketches</strong></p></a></li>
      <li {{if eq .Page.Params.params.id "about"}} class="selected" {{end}} ><a href="{{.Site.BaseURL}}/about"><p><strong>About</strong></p></a></li>
    </ul>
  </nav>
  <body>
      {{ block "main" . }}{{ end }}
  </body>
</html>
